# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=

LOGGER_ID=
OWNER_ID=

# No need key 
BASE_API_KEY=

# mongo url from cloud.mongodb.com
MONGO_DB_URI=

# pyrogram session from @SESSIONxGENxBOT on telegram
STRING_SESSION=